@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <div class="app-container">
            <h1>Online3DViewer</h1>
            <p>Sorry, we couldn't find that page.</p>
        </div>
    </NotFound>
</Router>
