@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inherits LayoutComponentBase

<PageTitle>Online3DViewer</PageTitle>

<div class="page">
    <main class="container">
        @Body
    </main>
</div>
